*{
    box-sizing: border-box;
   margin: 0;
   padding: 0;}

.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo{
    height: 800px;
    background:url("../img/main_bg.png") center center/cover no-repeat;
}
.logo .logo_img{
    padding: 32px 0 62px 0;
    display: block;
    margin: auto;
}
.logo .logo_text{ 
    color:  #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
h1{
    margin-top: 53px;
}
.title{
    color:  #F9BF3B;
font-family: 'Roboto';
font-weight: 400;
font-size: 41px;
line-height: 24px;
text-transform: uppercase;
text-align: center;
}
h2.title{
    margin-top: 30px;
}
  .simple .title_big{
    color: #FFFFFF;
font-family: 'Roboto';
font-weight: 400;
font-size: 80px;
text-transform: uppercase;
text-align: center;
margin-top: 21px;
  }
  .promo .promo_text{
    margin-top: 23px;
    color:  #FFFFFF;
font-family: 'Roboto';
font-weight: 300;
font-size: 21px;
line-height: 28px;
text-align: center;
  }
  .promo .promo_text span{
      color: #F9BF3B;
      font-family: "robot-bold";
      font-weight: 700;
  }
  .promo .promo_btn{
    display: block;
    margin:73px auto;
    margin-top:73px ;
width: 313px;
height: 72px;
background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
font-family: 'RobotoCondensed';
font-size: 21px;
line-height: 24px;
font-weight: 400px;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
cursor: pointer;
  }
  .more{
   margin-top: 73px;
  }
  .more .more_text{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
  }
  .more .more_img{
    display: block;
    margin: auto;
    margin-top: 13px;}

    .waiting{
        height: 607px;
        background-color:  #EFEFEF;
        padding: 85px 0 75px 0;
    }
    .waiting .waiting_header, .finish .finish_header{
        color:#252525 ;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;

    }

    .finish .finish_header{
        color: #FFFFFF;
    }
    .waiting .waiting_divider, .finish .finish_divider{
        width: 220px;
        height: 7px;
        background-color: #F9BF3B;
        margin: auto;
        margin-top: 18px;
    }

    .waiting .waiting_sabheader{
        color:  #4A4A4A;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 23px;
        text-align: center;
        margin-top: 20px;
    }
    .waiting .waiting_wrapper{
        display: flex;
        justify-content:space-between;
        margin-top: 45px;
    }

    .waiting .waiting_wrapper .waiting_item{
        width: 339px;
        text-align: center;
    }
    .waiting .waiting_wrapper .waiting_descr{
        margin-top: 33px;
        color:  #4A4A4A;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
    }
    .optimization{
        min-height: 550px;
        padding: 102px 0 107px 0;
    }
    .optimization .optimization_header{
        margin-left: 391px;
        color: #299CBD;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
    }

    .optimization .optimization_text{
        margin-top: 25px;
        margin-left: 391px;
        color: #4A4A4A;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 17px;
        line-height: 27px;
    }

    .optimization .optimization_text span{
        font-family: robot-bold;
        font-weight: 700;
    }
    .optimization .optimization_img{
        position: absolute;
        top: -54px;
        left: -240px;
        z-index: -1;
    }
    .finish{
        min-height: 447px;
        padding: 86px 0 79px 0;
        background: url("../img/second_bg\ \(1\).png")center center/cover no-repeat;
    }